
.img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.images{
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  /*width: 10%;*/
}
.img-1{
 background-image: url("images/capture.png");
 height: 250px;
 width: 160px;
 background-size: cover;
 background-position: center;
}
.img-2{
  background-image: url("images/capture-2.png");
  height: 250px;
  width: 160px;
  background-size: cover;
  background-position: center;
}
.img-3{
 background-image: url("images/capture-1.png");
 height: 250px;
 width: 160px;
 background-size: cover;
 background-position: center;
}
.img-4{
 background-image: url("images/capture-3.png");
 height: 250px;
 width: 160px;
 background-size: cover;
 background-position: center;
}
.w3-row-padding{
  display: flex;
}
.images{
  margin: 25px;
}

.w3-half{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.deco{
  padding-bottom: 7px;
  border:1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
.resume-list{
  border: 1px solid white;
  color: white;
  font-size: 18px;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.section-title h2 {
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
  line-height: normal;
}
.w3-opacity{
  margin-bottom:70;
}
.w3-row-padding:hover .images{
  opacity: 1;
}
.para{
      background-color:#000000a8;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}


.paragraph{
  font-size: 20px;
}
.images:hover .para{
  display: flex;
}