

.knnct{
	width: 28%;
	float: left;
}
.collapse{
	display: flex;
    justify-content: center;
}
.navbar-brand{
	color: #0fbf9d!important;
	font-weight: bold;
	text-align: center;
}
.navbar-nav{
	text-align: center;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1.5rem!important;
}
}

.navbar{
	/*border-bottom: 1px solid  #0fbf9d!important;*/
	position: sticky!important;
    top: 0px;
    margin: 0px !important;
}
.nav-item{
	color: #0fbf9d!important;
	font-weight: bold;
	font-size: 12px;
}
.navbar-light{
	background-color: white!important;
	
}
.btn-success{
	background-color:  #0fbf9d!important;
	font-weight: bold!important;
	font-size: 12px!important;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    align-items: center;
}
}